* {
    margin: 0;
    padding: 0;
}
main {
    padding-top: 6rem;
}
body {
    background-color: white;
}

/*---------------------------------------------------- HEADER-------------------------------------------------------------------------------- */
@import "../scss/base/header";
/* -------------------------------MAIN------------------------------------------------------ */
/*------------------------------------- PARALLAX ---------------------------*/
@import "../scss/base/parallax";
/* ------------------------SECCION DESTACADOS--------------------- */
@import "../scss/base/seccion-destacados";
/*-------------------------------------- SECCION DE TABLAS---------------------------- */
@import "../scss/base/seccion-torneos";
/*--------------------------------------------------------------- HTML VARIOS ----------------------------------*/
@import "../scss/base/html-actualidad";
/* ----------------------------------------------FOOTER -------------------------------------------------------------*/
@import "../scss/base/footer";
/*--------------------------------------- TIPOGRAFIA---------------------------------------- */
@import "../scss/base/tipografia";
/* -------------------------------@media query------------------------------------------- */
@import "../scss/components/jquery";
/*------------------------------------ ERROR 404 --------------------------------*/
@import "../scss/base/404.scss"

