.square1,
.square2 {
    border-radius: 4px;
    height: 23.5rem;
    width: 17rem;
    margin-bottom: 2rem;
    /* margin-left: 3rem; */
}

.square1 {

    background-color: teal;
    position: relative;
    height: 23.5rem;
    z-index: 0;
}

.square2 {
    background-color: steelblue;
    transition: all 0.8s;
    position: absolute;
    z-index: 1;
}

.square2:hover {
    opacity: 0;
    transform: translate(20px, 20px);
    background-color: transparent;
}








.Opta-Blank-Arc {
    fill: rgba(24, 3, 3, 0.329);
}

.Opta-Arc {
    fill: #eb1e2a;
}

.Opta-Value {
    fill: #163856;
    font-size: 28px;
    text-anchor: middle;
}

.Opta-Label {
    fill: #163856;
    font-size: 12px;
    text-anchor: middle;
}

.pases {
    margin-left: 1rem;
    font-size: 0.8rem;
}