/*-------------------------------------- HTML NOTICIAS -------------------------------*/
@import "../components/variables";
.ult-noticias {
    background-image: repeating-linear-gradient(white, #003049);
}

.card {
    padding: 1rem;
    box-shadow: 20px 15px 25px nth($bg-color, 9 );
    
}

.img-card {
    transition: map-get($maps , all-2s );
    &:hover {
        transition: map-get($maps, all-1s);
        transform: map-get($maps, scale-low);
        box-shadow: map-get($maps, box-shadow-2 );
        
    }
}

.enlace-noticia{
    background-color: #003049;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 10px;
    margin: 15px;
}

.li-noticia {
    color: white;
    text-align: center;
    background-color: #003049;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 10px 10px;
    margin: 15px;
        a {
            color: white;
            text-decoration: none;
    }
}

.foto-noticia {
    list-style-type: none;
    pointer-events: auto;
    background-color: nth($bg-color , 6 );
    width: 40rem;
    height: 27rem;
    padding: 20px;
    margin: 50px;
    /* border: solid 1px #FCBF49; */
    border-radius: 6px;
    box-shadow: 20px 15px 25px nth($bg-color, 9 );
    transition: map-get($maps , all-2s );
        &:hover {
            transition: map-get($maps, all-1s);
            transform: map-get($maps, scale-standard);
        }
}

@media only screen and (min-width: 360px) and (max-width: 991px) {
    .foto-noticia {
        width: 100%;
        width: 1rem;
        height: 1rem;
        transition: none;
        &:hover {
            transition: none;
            transform: none;
        }
    }
}






