
@import "../components/variables";
/* USAR MIXIN PARA DARLE LOS MISMOS ESTILOS PERO CAMBIAR FONDO O ALGO MAS */
/* Fuentes */
@font-face {
    /* Defino el nombre */
    font-family: "Anton-Regular";
    /* Ruta de donde cargo mi fuente y el formato de mis navegadores */
    src: url("../font/Anton-Regular/Anton-Regular.ttf") format("ttf");
}
/* Montserrat combina con Anton */
@font-face {
    font-family: "Monstserrat-Regular" ;
    src: url("../font/Montserrat/Montserrat-Regular.ttf") format("ttf");
}


@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../font/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}
/*Lato Combina con BebasNue */
@font-face {
    font-family:"Lato-Regular";
    src: url("../font/Lato/Lato-Regular.ttf") format("opentype");
}
@mixin  encabezados ($bg-color, $font, $margin, $padding) {
    background-color: $bg-color;
    font-size: $font;
    margin: $margin;
    padding: $padding;
    color: white;
    text-align: center;
}
/* Standar para parrafos */
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
h2 {
    @include encabezados(#D62828, 2.5rem, auto, 2.5rem);
    font-family: "anton-regular";
    line-height: 2.5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    word-spacing: 1rem;
}


    
    .contenedor-h2 {
        box-shadow: 20px 15px 25px rgba(0, 0, 0, 0.774);
    }

/* subtitulo de seccion */
h3 {
    @include encabezados(#003049, 2.0rem, 0.5rem, 0.5rem);
    letter-spacing: 2px;
    word-spacing: 0.3rem;
    font-family: map-get($maps, bebasneue );
}
.separador {
    background-color: map-get($maps, red );
}
.card {
    a {
        &:hover {
            color: map-get($maps , red );
        }
    }
}
/* Parrafo de tablas */
.p-tablas {
    font-family: map-get($maps, montserrat );
    font-size: 18px;
    line-height: 35px;
    padding: 30px 15px;
}

 .title-carrousel {
    border-radius: 20px;

    
 }

h5 {
    padding: 0.5rem;
    color: map-get($maps, white );
    background-color: nth($bg-color, 5 );
    font-family: map-get($maps, bebasneue );
    border: map-get($maps , border-1 )
}



.parrafo-noticia {
    list-style-type: none;
    pointer-events: auto;
    margin: 0;
    font-size: 25px;
    font-family: map-get($maps, lato );
    line-height: 40px;
    text-indent: 40px;
    padding: 20px;
}



.p-info {
    font-family: map-get($maps, montserrat );
    font-size: 2.5rem;
}
a {
    text-decoration: none;
    color: map-get($maps, white );
}

